.sobre {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-page h1 {
    font-size: 3.5rem;
}

.text-page p {
    font-size: 1.5rem;
    color: rgb(128, 128, 128);
    text-transform: none;
    margin-top: -2.5rem;
    margin-bottom: 1.7rem;
}

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 800px;
    margin: 0 auto;
}

.logos-container img {
    height: 10rem;
}