.table-provider {
    display: grid;
    /*margin-left: 22px;
    margin-right: 22px;*/
    margin-top: 30px;
    gap: 12px;
    font-size: 1.5rem;
}

table, th, td {
    padding: 1rem;
    border-collapse: collapse;
    text-align: center;
    text-transform: none;
}

.table-content {
    width: 95%;
    /*max-height: calc(89% - 1.6rem);*/
    background: #eee;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow-x: auto;
}

.table-content::-webkit-scrollbar {
    background: #0000000b;
    border-radius: 3rem;
    height: .8rem;
}

.table-content::-webkit-scrollbar-thumb {
    background: #a7a7a7fe;
    border-radius: 3rem;
}

table {
    width: 100%;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background: #a7a7a7fe;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}

.btn-edit i {
    font-size: 2rem;
}

.btn-delete i {
    font-size: 1.8rem;

}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}