.contact .content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact .content-container .box-container {
    flex: 1;
    margin-right: 20px;
}

.contact .content-container .box-container .box {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5rem;
}

.contact .content-container .box-container .box .icon {
    font-size: 2.2rem;
    background-color: var(--black);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .content-container .box-container .box .icon i {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .content-container .box-container .box .text {
    margin-left: 15px;
}

.contact .content-container .box-container .box h3 {
    line-height: 1.5;
    font-size: 2rem;
}

.contact .content-container .box-container .box p {
    text-transform: none;
    font-size: 1.5rem;
    color: var(--light-color);
}

.contact .content-container .form .input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 20px;
    border-radius: .5rem;
    font-size: 1.6rem;
    text-transform: none;
}

.contact .content-container .form .btn {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    .contact .content-container {
        flex-direction: column;
        align-items: stretch;
    }

    .contact .content-container .box-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact .content-container .box-container .box {
        margin-bottom: 1rem;
    }
}