.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../assets/home.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content {
    text-align: center;
    width: 60rem;
    max-width: 100%;
    margin: 0 auto;
}

.home .content h3 {
    color: var(--black);
    font-size: 3rem;
}

.home .content h3 span {
    color: var(--orange);
}

.home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

@media (max-width: 991px) {
    .home .content {
        width: 80%;
    }
}

@media (max-width: 450px) {
    .home {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }

    .home .content {
        width: 90%;
    }
}
